streamlit
streamlit_chat
langchain
python-dateutil
requests
numpy
pandas
matplotlib
scipy
scikit-learn
open-interpreter
litellm
tensorflow
keras
torch
torchvision
transformers
spacy
nltk
selenium
pymysql
seaborn
plotly
bokeh
lxml
regex
