streamlit
streamlit_chat
langchain
python-dateutil
requests
numpy
pandas
matplotlib
scipy
scikit-learn
open-interpreter
litellm
tensorflow
keras
torch
PyMuPDF
pypptx
openpyxl
transformers
spacy
nltk
pymysql
seaborn
plotly
