streamlit
streamlit_chat
langchain
python-dateutil
requests
numpy
pandas
matplotlib
scipy
scikit-learn
open-interpreter
litellm
tensorflow
keras
torch
PyPDF2
PDFMiner
PyMuPDF
pptx-template
pypptx
pandas
openpyxl
transformers
spacy
nltk
selenium
pymysql
seaborn
plotly
openpyxl
bokeh
lxml
regex
